@import '../../index.scss';

.checkout-bg {
  background-color: rgb(243 244 246);
}

.checkout {
  display: flex;
  flex-direction: column;

  @include respond(lg) {
    flex-direction: row;
  }

  .cart {
    margin: 1.5rem;
    box-shadow: var(--shadow-container);
    flex: 1;
    &__ad {
      height: 25rem;
      width: 100%;
      object-fit: cover;
    }

    &__items {
      padding: 1.5rem;
      background-color: var(--white-color);
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;

      & > h1 {
        font-size: 2.4rem;
        font-weight: 600;
        padding-bottom: 1rem;
        border-bottom: 2px solid rgb(243 244 246);
      }
    }
  }
}

.cart-product {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  .img {
    height: 15rem;
    width: 15rem;
    object-fit: contain;
  }

  .info {
    margin: 0 1.5rem;
    grid-column: span 3;

    &__title {
    }
    &__desc {
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.total {
  margin: 1.5rem;
  padding: 2.5rem;
  background-color: var(--white-color);
  box-shadow: var(--shadow-container);
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: flex-start;

  @include respond(lg) {
    width: 30rem;
  }

  &__title {
    font-weight: 600;
    & > span {
      margin-left: 0.5rem;
    }
  }
}
