@import '../../index.scss';

.checkout-bg {
  background-color: rgb(243 244 246);
}

.checkout {
  display: flex;
  flex-direction: column;

  @include respond(lg) {
    flex-direction: row;
  }

  .cart {
    margin: 1.5rem;
    &__ad {
      height: 25rem;
      width: 100%;
      object-fit: cover;
    }

    &__items {
      padding: 1.5rem;
      background-color: var(--white-color);
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;

      & > h1 {
        font-size: 1.8rem;
        font-weight: 600;
        padding-bottom: 1rem;
        border-bottom: 2px solid rgb(243 244 246);
      }
    }
  }
}
