@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

:root {
  --font-base: 'Poppins', sans-serif;
  --header-top-color: #131921;
  --header-bottom-color: #232f3f;
  --black-color: #030303;
  --white-color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: var(--font-base);
  font-weight: 400;
  line-height: 1.6;

  font-size: 1.6rem; /* 16px or style elements individually */
  min-height: 100vh; /* body - takes the full screen */
}

/* Changing the style of selected text */
::selection {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

//===========================================================
// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    // > 640px
    @media only screen and (min-width: 40em) {
      @content;
    }
  }

  @if $breakpoint == md {
    // > 768px
    @media only screen and (min-width: 48em) {
      @content;
    }
  }

  @if $breakpoint == lg {
    // > 1024px
    @media only screen and (min-width: 64em) {
      @content;
    }
  }

  @if $breakpoint == xl {
    //1280px
    @media only screen and (min-width: 80em) {
      @content;
    }
  }

  @if $breakpoint == xxl {
    //1536px
    @media only screen and (min-width: 96em) {
      @content;
    }
  }
}
