.banner {
  position: relative;

  &__gradient {
    position: absolute;
    bottom: 0;
    height: 8rem;
    width: 100%;
    background-image: linear-gradient(to top, rgb(243 244 246), transparent);
    z-index: 20;
  }

  img {
    height: 60rem;
    background-position: center;
    object-fit: cover;
  }
}
